# Python bytecode
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Environment and package management
env/
venv/
ENV/
.env
.venv
.env*
.env.local*
pip-log.txt
pip-delete-this-directory.txt

# Distribution / packaging
dist/
build/
*.egg-info/

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Logs
logs/
*.log

# OS files
.DS_Store
Thumbs.db

# Editor directories and files
.idea/
.vscode/
*.swp
*.swo

# Project specific
response.json
